/* src/common/content.css */

.page-container {
    padding: 20px;
    text-align: left;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Paragraph styles */
  p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #34495e;
    margin-bottom: 15px;
    opacity: 0;
    text-align: left;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  /* Animation classes */
  .fade-in {
    animation: fadeIn 1s ease forwards;
  }
  
  .slide-in {
    animation: slideIn 0.8s ease forwards;
  }
  .container{
    width: 1320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid red;
}
.blogItems{
    text-align: center;
    padding-bottom: 10px;
    flex-basis: 23%;
    box-shadow: 0px 0px 10px 2px #ccc;
    margin: 1%;
}
h1{
  text-align: center;
}
h1, h3, h4 {
  color: #333;
  margin-top: 0px;
  margin-bottom: 0px;
}
.bodyItems {
  color: #666;
  text-align: left;
  margin-left: 20px;
}
.btn{
  border: none;
  font-style: italic;
}
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  